.NotFound {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #111111;
    color: #eeeeee;
}

.NotFound .text-red {
    color: rgb(172, 42, 42);
}

.NotFound .button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: .3rem .7rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    outline: none;
    margin-left: .5rem;
}