.App {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #111111;
    color: #808080;
}

.App h1, .App h2, .App h3, .App h4, .App h5, .App h6 {
    color: #eeeeee;
}